<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meh|Beta1</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>

    <!--


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/istrap@1.0.1/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/istrap@1.0.1/assets/css/istrap.css">

    <script src="https://cdn.jsdelivr.net/npm/istrap@1.0.1/assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/istrap@1.0.1/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/istrap@1.0.1/assets/js/smooth-scrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/istrap@1.0.1/assets/js/istrap.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script>
    -->
    <link rel="stylesheet" href="/media/index.css">
    <link rel="stylesheet" href="/media/ios.css">
    <link rel="stylesheet" href="/media/pages.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/media/ispinner.prefixed.css">


    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script  src="/media/html2canvas.min.js"></script>
    <script src="/media/easy.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
<script>
        $( function() {
            $( ".dpp" ).on( "click", function() {
             $(".popup-bg").fadeOut({display:'none'},'slow');
            });
            } );

        $( function() {
            $( ".openPOP" ).on( "click", function() {
             $(".popup-bg").css({'display':'block'})
             $(".openPOP").toggleClass('active')
             $(".all").addClass('animatedUP')
            });
            } );
    </script>

</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
<script>




    $(document).ready(function(){
        $(".form2").on('submit',function(e){

            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/users/register/done",
                data: {
                    acc_type:$('.acc_type').find(":selected").text(),
                    bio:$('#my-bio').val(),
                    dob:$('#date-ob').val(),
                    ques:$('#ques').find(":selected").text(),
                    ans:$('#ans').val(),
                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken][1]').val()

                },
                success: function(data){
                    if(data==='created'){
                        $('.data2').html(`<h1>loading...</h1>`)
                        $('.data2').animate({right:'450px',opacity:'0'},'fast')
                        $('.server-message').addClass('success')
                        $('.server-message').html("Account created")
                        $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                        setTimeout(function(){
                            $('.server-message').animate({top:'-5px',opacity:'0'},'fast')
                        },1500)
                        $('.data3').animate({left:'20px'})
                }
                else{
                console.log(data)
                $('.data2').animate({top:'-10vh'},'fast')
                $('.data2').animate({top:'5vh'},'fast')
                $('.server-message').removeClass('success')
                $('.server-message').addClass('critical')
                $('.server-message').html("Not created problem with data")
                $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                setTimeout(function(){
                    $('.server-message').animate({top:'-85px',opacity:'0'},'fast')
                },1500)
                }
                },
                error:function(data){
                $('.data2').animate({top:'-10vh'},'fast')
                $('.data2').animate({top:'5vh'},'fast')
                $('.server-message').removeClass('success')
                $('.server-message').addClass('critical')
                $('.server-message').html("Server Error"+data.status)
                $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                setTimeout(function(){
                    $('.server-message').animate({top:'-85px',opacity:'0'},'fast')
                },1500)
                }
            });
        })
    })




    $(document).ready(function(){
        $(".sub-btn").on('click',function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/users/register/socialDone/",
                data: {
                    insta:$('#insta').val(),
                    twitter:$('#twitter').val(),
                    twitch:$('#twitch').val(),
                    facebook:$('#fb').val(),
                    youtube:$('#yt').val(),
                    snapchat:$('#snap').val(),
                    phone:$('#phoneno').val(),
                    gmail:$('#gmail').val(),
                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    if(data==='created'){
                        location.reload()
                }
                else{
                $('.data2').animate({top:'-10vh'},'fast')
                $('.data2').animate({top:'5vh'},'fast')
                $('.server-message').removeClass('success')
                $('.server-message').addClass('critical')
                $('.server-message').html("Server error"+data.status)
                $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                setTimeout(function(){
                    $('.server-message').animate({top:'-85px',opacity:'0'},'fast')
                },1500)
                }
                },
                error:function(data){
                $('.data2').animate({top:'-10vh'},'fast')
                $('.data2').animate({top:'5vh'},'fast')
                $('.server-message').removeClass('success')
                $('.server-message').addClass('critical')
                $('.server-message').html("Server Error"+data.status)
                $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                setTimeout(function(){
                    $('.server-message').animate({top:'-85px',opacity:'0'},'fast')
                },1500)
                }
            });
        })
    })





</script>


</html>