
{% extends 'home/base.html' %}
{% block content %}
<style>
    .bio{
        word-wrap: break-word;
    }
    .social{
        max-height: 300px;
        overflow-y: scroll;
    }
    .insight{
        background-color: #fafafa;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
  
    #copy-btn{
          cursor: pointer;
      }
      .info{
          width: auto;
          padding: 10px;
          background-color: #fafafa;
          margin-left: auto;
          margin-right: auto;
          border-radius: 20px;
          text-align: center;
      }
      .emoji{
          width: 175px;
          height: 175px;
          border-radius: 50%;
          background-color: #fff;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
          font-size: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .emoji2{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff;
        margin-bottom: 15px;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      .tabs{
          width: 115px;
          height: 108px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18pt;
      }
</style>
<div class="container-fluid container-main" >
    {% include 'home/navbar.html' %}
{% if not request.user.is_authenticated %}
<div class="container bg-white py-2 text-center">
    <b>New to <span class="text-iosprimary">meh</span>?</b>
</div>
<div class="container bg-white py-2 text-center join-now">
    <b>Join Now</b>
    <a href="/login/page-next/"><button class="btnios-na ios-pr">Login</button></a>
    <a href="/register/page-next/"><button  class="btnios-na ios-pr-red">Register</button></a>
</div>

{% endif %}

        <div class="profile">
            <input type="hidden" id="user_to" value="{{user_to}}"/>
        <div class="info">
            <center>
                {% include 'home/ios-spiner.html' %}
            </center>
        </div>
        <br>
       <div class="container insight down-btn shadow d-flex justify-content-around align-items-end" id="meh-card">
        <div class="container">
             <div class="emoji2" ></div>
            <h4 class="text-iosdark card-username" style="text-transform: capitalize;"><center>{% include 'home/ios-spiner.html' %}</center></h4>
            <span class="card-bio"></span><br>
            <span class="text-iosprimary">meh.connect/<span class="username"></span></span>
        </div>
        <div class="conatiner px-3">
            <p class="logo-meh">meh</p>
            <div class="qr-code ">
                <script type="text/template" id="qrcodeTpl">
                    <div class="imgblock">
                        <div class="qr"  id="qrcode_{i}"></div>
                    </div>
                </script>
                      
                </div>
        </div>
        
       </div>
     <!--  <div class="insights">
        <div class="flexbox">
            <div class="container p-4 tabs" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background:#ddffd7;color:#2DAD00;border-radius:10px;"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
            <div class="container p-4 tabs" style="background:#d0eeff;color:#2F80ED;border-radius:10px;"><i class="fa fa-link" aria-hidden="true"></i></div>
            <div class="container p-4 tabs" style="background:#ffdcd1;color:#FF4141;border-radius:10px;"><i class="fa fa-id-card" aria-hidden="true"></i></div>

        </div>
   </div>-->
  
        </div>
        <div class="form-social"> 
        </div>

        <div id="output"></div>
       <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class=" modal-dialog modal-sm modal-dialog-centered" style="border-radius:20px;">
              <div class="modal-content">
                <div class="modal-header" style="border:none;">
                  <h5 class="modal-title text-center" id="staticBackdropLabel"><b class="logo-meh">meh</b></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    
                </div>
                <div class="modal-footer" style="border:none;">
                 <p></p>
                </div>
              </div>
            </div>
          </div>-->
        <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          document.execCommand("copy");
          $('#copy-btn').html(`<i class="fas fa-check-circle  text-light  "></i>`)
        }
        </script>
       
    
        <script>
            function getMOPsys() {
                var userAgent = navigator.userAgent || navigator.vendor || window.opera;
            
                // Windows Phone must come first because its UA also contains "Android"
                if (/windows phone/i.test(userAgent)) {
                    return "Windows Phone";
                }
            
                if (/android/i.test(userAgent)) {
                    return "Android";
                }
            
                // iOS detection from: http://stackoverflow.com/a/9039885/177710
                if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                    return "iOS";
                }
            
                return "desktop";
            }
            $(".join-now").effect("shake");
            const os = getMOPsys();
            //fetch data from api
            var user = document.getElementById('user_to').value
        function getData(){
            fetch('/api/'+user+'/').then(response => response.json())
            .then(data => {
                if(data['status']==404){
                    $(".profile").html(`
                    <div class="container bg-white py-2 text-center rounded">
                        <h1 class="text-center text-iosprimary"><b>Opps🫢!</b></h1>
                        <h3 class="text-center"><b>We don't have account with that name.</b></h3>
                        <p>Maybe you can bring them on <b >meh</b>.</p>
                        <p>
                            <a href=""><button class="btnios ios-pr"><b>Share <i class="fa fa-rocket" aria-hidden="true"></i></b> </button></a>
                        </p>
                    </div>
                    `)
                }
                else if(data['status']==420){
                    $('.info').html("Incomplete Profile")
                    $('.social').html(`<div class="accs text-iosdanger">Profile setup incomplete.</div>`)
                }else{
                var d = new Date(data['Info']['dob'])
            var dobBack = d.getDate()+"/"+d.getMonth()
            var today = new Date()
            var checkDob = today.getDate()+"/"+today.getMonth()
            if( dobBack == checkDob){
                $(".hbd").html('Happy birthday to You')
            }
            else{
                $('.hbd').addClass('seen')
               
            }
                var acc_type = data['Info']['acc_type']
                if(data['status']=='200'&&'204'){
                    $('.acc').html(acc_type )
                    if(acc_type=='Personal'){
                        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        $('.info').html('')
                        $('.emoji2').html(data['Info']['profile_emoji'])
                        $('.card-bio').html(data['Info']['bio'])
                        $('.card-username').html(` 
                        <div class="font-bold text-iosdark" ><p style="font-size:14pt;">${(data['Extra-Data']['Verified']===true)?data['UserObj']['username']+` <i class="material-icons  text-iosprimary" style="font-size:16px;">
                            verified
                        </i></p>`:data['UserObj']['username']}</div>
                        `);
                        $('.info').html(`
                        <div class="container py-3">
                            <div class="emoji">${data['Info']['profile_emoji']}</div>
                        <div class="font-bold text-iosdark" ><p style="font-size:24pt;">${(data['Extra-Data']['Verified']===true)?data['UserObj']['username']+` <i class="material-icons  text-iosprimary" style="font-size:16px;">
                            verified
                        </i></p>`:data['UserObj']['username']}</div>
                        <p class="text-black" style="font-size:16pt;"><span class="ml-2">${d.getDate()+' '+ months[d.getMonth()]}</span> 🎂</p>
                        <p class="text-black bio">${
                            data['Info']['bio'].length >=150?data['Info']['bio'].substring(0,150)+'...' :data['Info']['bio']
    
                         }</p>
                    </div>
                        `)
                        $('.username').html('');
                        $('.username').html(data['UserObj']['username']);
                        $('.orlink').html(window.location.href+data['UserObj']['username'])
                        $('.magiclink').html('')
                        $('.nput').html(`<input type="text" class="ios-control bg-dark text-light" value="${window.location.href}${data['UserObj']['username']}" id="myInput">
                        <span onclick="myFunction()" id="copy-btn"  class="py-3">
                          <i class="fas fa-copy   text-light "></i>
                        </span>`)
                $('.orlink').html(window.location.href)
            }
            else{
               $('.acc').html(acc_type )
                        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        $('.info').html('')
                        $('.emoji2').html(data['Info']['profile_emoji'])
                        $('.card-bio').html(data['Info']['bio'])
                        $('.card-username').html(` 
                        <div class="font-bold text-iosdark" ><p style="font-size:14pt;">${(data['Extra-Data']['Verified']===true)?data['UserObj']['username']+` <i class="material-icons  text-iosprimary" style="font-size:16px;">
                            verified
                        </i></p>`:data['UserObj']['username']}</div>
                        `);
                        $('.info').html(`
                        <div class="container py-3">
                            <div class="emoji">${data['Info']['profile_emoji']}</div>
                        <div class="font-bold text-iosdark" ><p style="font-size:24pt;">${(data['Extra-Data']['Verified']===true)?data['UserObj']['username']+` <i class="material-icons  text-iosprimary" style="font-size:16px;">
                            verified
                        </i></p>`:data['UserObj']['username']}</div>
                        <p class="text-black" style="font-size:16pt;"><span class="ml-2">${d.getDate()+' '+ months[d.getMonth()]}</span> 🎂</p>
                        <p class="text-black bio">${
                            data['Info']['bio'].length >=150?data['Info']['bio'].substring(0,150)+'...' :data['Info']['bio']
    
                         }</p>
                    </div>
                        `)
                        $('.username').html('');
                        $('.username').html(data['UserObj']['username']);
                        $('.orlink').html(window.location.href+data['UserObj']['username'])
                        $('.magiclink').html('')
                        $('.nput').html(`<input type="text" class="ios-control bg-dark text-light" value="${window.location.href}${data['UserObj']['username']}" id="myInput">
                        <span onclick="myFunction()" id="copy-btn"  class="py-3">
                          <i class="fas fa-copy   text-light "></i>
                        </span>`)
                $('.orlink').html(window.location.href)
            }
            function appendSocial(){
                var facbookLink;
                if(os=="Android" || os=="iOS"){
                    facbookLink = 'fb://facewebmodal/f?href=https://www.facebook.com/'
                    instaLink='instagram://user?username='
                    twitterLink='https://www.twitter.com/'
                }
                else{
                    facbookLink = 'https://www.facebook.com/'
                    instaLink = 'https://www.instagram.com/'
                    twitterLink='https://www.twitter.com/'
                    }
                    $('.info').append(`
                    <div class="accs">
                        ${data['Social']['facebook'] ? `<div class="container bg-white rounded  py-2 mt-1"><a href="${facbookLink}${data['Social']['facebook']}"><i class="fab fa-facebook text-iosprimary bg-ioslight p-2 rounded"></i><span class="font-bold mx-2"> ${data['Social']['facebook']} </span></a></div> ` : ``}
                        ${data['Social']['instagram'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="${instaLink}${data['Social']['instagram']}"><i class="fab fa-instagram bg-ioslight text-iosorange  p-2 rounded"></i><span class="font-bold mx-2">${data['Social']['instagram']}</span></a></div>`: ``}
                        ${data['Social']['youtube'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="${data['Social']['youtube']}"><i class="fab fa-youtube text-iosred bg-ioslight p-2 rounded "></i><span class="font-bold mx-2">YouTube</span></a></div>`: ``}
                        ${data['Social']['snapchat'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="https://snapchat.com/add/${data['Social']['snapchat']}"><i class="fab fa-snapchat  bg-ioslight p-2 rounded text-snapchat"></i><span class="font-bold mx-2">${data['Social']['snapchat']}</span></a></div>`: ``}
                        ${data['Social']['twitter'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="${twitterLink}${data['Social']['twitter']}"><i class="fab fa-twitter bg-ioslight p-2 rounded text-primary"></i><span class="font-bold mx-2">${data['Social']['twitter']}</span></a></div>`: ``}
                        ${data['Social']['telegram'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="https://t.me/${data['Social']['telegram']}"><i class="fab fa-telegram bg-ioslight p-2 rounded text-telegram"></i><span class="font-bold mx-2">${data['Social']['telegram']}</span></a></div>`: ``}
                        ${data['Social']['discord'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="${data['Social']['discord']}"><i class="fab fa-discord bg-ioslight p-2 rounded text-purple"></i><span class="font-bold mx-2">${data['Social']['discord']}</span></a></div>`: ``}
                        ${data['Social']['twitch'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="twitch://${data['Social']['twitch']}"><i class="fab fa-twitch text-twitch bg-ioslight p-2 rounded"></i><span class="font-bold mx-2">${data['Social']['twitch']}</span></a></div>`: ``}
                        ${data['Social']['linkedin'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="${data['Social']['linkedin']}"><i class="fab fa-linkedin text-linkedin bg-ioslight p-2 rounded"></i><span class="font-bold mx-2">Linkedin</span></a></div>`: ``}
                        ${data['Social']['website'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="${data['Social']['website']}"><i class="fab fa-globe text-primary bg-ioslight p-2 rounded"></i><span class="font-bold mx-2">${data['Social']['website']}</span></a></div>`: ``}

                        ${data['Social']['gmail'] ?`<div class="container bg-white rounded py-2 mt-1"><a href="#"><i class="fas fa-envelope bg-ioslight p-2 rounded text-danger"></i><span class="font-bold mx-2" id="gmail">${
                        data['Social']['gmail'].length >=15?data['Social']['gmail'].substring(0,15)+'...' :data['Social']['gmail']
    
                }</span></a></div>`: ``}
                ${data['Social']['phone_no'] ?`<div class="container bg-white rounded py-1 mt-1 mb-2"><i class="fas fa-phone  bg-ioslight p-2 rounded text-primary  "></i><a href="tel:${data['Social']['phone_no']}"> <span class="font-bold mx-2">${data['Social']['phone_no']}</span></a></div>`: ``}
    
            </div>`)
            $('#gmail').on('click',function(){
                $('#gmail').html(data['Social']['gmail'])
                setInterval(function(){
                    data['social'][7].length >=15?data['Social']['gmail'].substring(0,15)+'...' :data['Social']['gmail']
                },5000)
            }
            )
            }
            data['status']=='200'?appendSocial(): $('.social').html(`<div class="accs">No social media accounts</div>`)
            function qrcode(){

                setTimeout(function(){
                    $('.magiclink').html('')
                    $('.nput').html(`<input type="text" class="ios-control bg-dark text-light" value="${window.location.href}" id="myInput">
                    <span onclick="myFunction()" id="copy-btn"  class="px-3 py-3">
                      <i class="fas fa-copy   text-light "></i> 
                    </span>`)
                    var demoParams = [			
                        {
                            title:'',
                            config: {
                                text: window.location.href+user,
                        
                                width: 110,
                                height: 110,
                                colorDark: "#1c1c1e",
    
                        
                                PI: '#1c1c1e',
                                timing_H:0,
                                correctLevel: QRCode.CorrectLevel.M, // L, M, Q, H
                        
                                binarize: true
                            }
                        
                        },
                    ]
                    var qrcodeTpl = document.getElementById("qrcodeTpl").innerHTML;
                    var container = document.querySelector('.qr-code');
        
                    for (var i = 0; i < demoParams.length; i++) {
                        var qrcodeHTML = qrcodeTpl.replace(/\{title\}/, demoParams[i].title).replace(/{i}/, i);
                        container.innerHTML+=qrcodeHTML;
                    }
                    for (var i = 0; i < demoParams.length; i++) {
                         var t=new QRCode(document.getElementById("qrcode_"+i), demoParams[i].config);
                    }
                   
    
    
                },2000)
            }
            if(data['Settings'][0]['mehCard']=='off'){
                $("#meh-card").remove();
                $(".card-help-text").remove();
            }
            else{
                qrcode()
            };
            
            
            }
            else{
                console.log(data['status'],data['message'])
                $('.profile').html(`<h2 class="font-bold">${data['status']}</h2><p>${data['message']}</p><p><a href="/">Back to home</a></p>`)
                $('.magiclink').html('')
                $('#magic-info').html('')
                
            }}
        })
        
        }
        getData();    
        
        $('.js-textareacopybtn').on('click', function() {
         var copyText = $('.js-copytextarea');
          /* Select the text field */
          copyText.select();
          copyText.setSelectionRange(0, 99999); /* For mobile devices */
          /* Copy the text inside the text field */
          document.execCommand("copy");
        
          /* Alert the copied text */
          alert("Copied the text: " + copyText.value);
          
        });
        function takeshot() {
            let div =document.getElementById('photo');
            html2canvas(div).then(
                function (canvas) {
                    document
                    .getElementById('output')
                    .appendChild(canvas);
                })
        }
        
        </script>
        <script>
            $(".down-btn").on('click',function(){
                html2canvas(document.getElementById("meh-card"), {
                    allowTaint: true, useCORS: true
                }).then(function (canvas) {
                    var anchorTag = document.createElement("a");
                    document.body.appendChild(anchorTag);
              
                    anchorTag.download = "filename.jpg";
                    anchorTag.href = canvas.toDataURL();
                    anchorTag.target = '_blank';
                    anchorTag.click();
                });
            })
        </script>
    </div>   
    <div class="popup-bg">
        <div class="all" id="photo">
          <div class="popup p-2">
              <i class="fa fa-times-circle text-iosgray dpp" aria-hidden="true" style="float: right;cursor:pointer;"></i>
              <p></p>
            <div class="qr-code">
                <div class="spiner">
                <center>
                    {% include 'home/ios-spiner.html' %}
                </center>
            </div>
            <h4><b>meh</b></h4>
            <h4><b class="text-iosprimary username" style="text-transform: uppercase;"><center>{% include 'home/ios-spiner.html' %}</center></b></h4>
            <img class="qr-img" style="width:200px;object-fit:contain;" src/>
                <p>OR</p>
                <p>Use <b>Magic link to share</b></p>
                <p class="orlink text-iosprimary font-bold"></p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}