{% extends 'home/base.html' %}
{% block content %}
<style>
    .bio{
        word-wrap: break-word;
    }
   
    .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .social{
        max-height: 300px;
        overflow-y: scroll;
    }
      #copy-btn{
          cursor: pointer;
      }
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
      #hidden-part{
        display: none;
      }
      #shown-part{
          display: inline-block;
      }
</style>
<div class="center-box ">
       
    <div class="container-fluid container-main border" style="background-color: #fff;height:100vh" >
       {% include 'home/navbar.html' %}
        
        <div class="container-fluid bg-white">
            <div class="data1">
                <div class="server-message"></div>
                <div class="heading">
                    <h3 class="font-bold mt-2">Forgot Password</h3>
                </div>
                    <p>Here are few things we can do.</p>
               
                <form method="POST">
                    {% csrf_token %}
                    <div id="shown-part">
                        <div class="form-group">
                            <label for="email">Enter you registered email</label>
                        </div>
                    <div class="form-group">
                        <input type="email" class="ios-control p-2" placeholder="Enter your email" name ="email" id="email" style="display: auto;">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">Security question</label>
                    </div>
                    <div class="form-group">
                        <select class="ios-control p-2" name="ques" id="ques" ><option selected>Select your question</option>
                            <option>Favourite food</option>
                            <option>Favourite book</option>
                            <option>Favourite movie</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">Security answer</label>
                    </div>
                    <div class="form-group my-3">
                        <input type="text"  id="ans" name="ans" placeholder="Your answer" class="ios-control p-2" >
                    </div>
                    <div class="form-group mt-2">
                        <button class="btnios ios-pr send-otp" id="snd">Check</button>
                    </div>
                </div>
                    <div id="hidden-part">
                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="Enter new password" class="ios-control p-2" ">
                        </div>
                        <div class="form-group mt-2">
                            <button class="btnios ios-pr resetotp">Reset</button>
                            
                        </div>
                    </div>
                    
                    
                </form>
            </div>
            
        
       
</div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".send-otp").on('click',function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/users/requestOtp/",
                data: {
                    email:$('#email').val(),
                    ques:$('#ques').find(":selected").text(),
                    ans:$('#ans').val(),
                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                },
                
                success: function(data){
                    console.info(data)
                    if(data['check']=='success'){
                        document.getElementById('hidden-part').style.display='inline-block'
                        document.getElementById('shown-part').style.display='none'
                        $('.server-message').addClass('success')
                        $('.server-message').html("Data verified successfully")
                        $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                        setTimeout(function(){
                            $('.server-message').animate({top:'-5px',opacity:'0'},'fast')
                        },1500)
                    }
                    else{
                        $('.server-message').addClass('critical')
                        $('.server-message').html("Information incorrect")
                        $('.server-message').animate({top:'-5px',opacity:'1'},'fast')
                        setTimeout(function(){
                            $('.server-message').animate({top:'-5px',opacity:'0'},'fast')
                        },1500)
                    }
                    
                },
                error:function(data){
                    console.error(data)
                }
            });
        })
    })
    $(document).ready(function(){
        $(".resetotp").on('click',function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/users/reset-password/done/",
                data: {
                    email:$('#email').val(),
                    password:$('#password').val(), 
                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                },
                
                success: function(data){
                    console.log(data)
                    if(data == 'done'){
                        
                        alert("Password reset done login now with new password")
                        window.location.replace('/login/page-next/')
                    }else{alert("Data invalid")}
                },
                error:function(data){
                    console.info(data)
                }
            });
        })
    })
</script>
{% endblock content %}