{% extends 'home/base.html' %}
{% block content %}
<style>
    .bio{
        word-wrap: break-word;
    }
   .social{
       min-height: 400px;
       overflow-y: scroll;
   }
.profile{
    width: 100%;
}
    #copy-btn{
          cursor: pointer;
    }
    .flexbox{
          display: flex;
          justify-content: space-around;
    }

    .bg-light{
          background-color: #fafafa !important;
    }
.hbd{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nearby-people{
    position: fixed;
    width: 400px;
    height: 100vh;
    top: 126%;
    left: 50%;
    text-align: center;
    background-color: #fff;
    transform: translate(-50%,-25%);
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    z-index: 50001;
    opacity: 1;
}
.overflow-part{
    overflow-y: scroll;
}
.overlay{
    width: 450px;
    height: 110vh;
    background-color: #35343496;
    backdrop-filter:blur(20px) saturate(180%);
    -webkit-backdrop-filter:blur(20px) saturate(180%);
    position: absolute;
    visibility: hidden;
    z-index: 50001;
}
@media (max-width:500px){
    .nearby-people{
        width: 98%;
    }
    .overlay{
        width: 100%;
    }
}

.bg-light{
    background-color: #ffffff !important;
}

.location,.close{
    cursor: pointer;
}
.seen{
    display: none;
}
.logo-meh{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1c1c1e;
    color: rgba(0, 0, 0, 0);
 }
 .links-fa > a{
     color: black;
     display: flexbox;
     align-items: center;
     flex-direction: row;
 }
.socialmedia,.info{
    display: none;
}
.ss-active,.i-active{
    display: block;
}
</style>
<div class="container-fluid  container-main" style="min-height: 105vh;" >
    {% include 'home/navbar.html' %}

        <!--<div class="container border rounded p-2 my-2 recents">
            <h4 >Recent Activity</h4>
            </div>
            <div class="container border rounded my-2 p-2 talks">
                <h4 >mehTalks</h4>
                </div>
                <div class="container border rounded p-2 nearme">
                    <h4 >Near Me</h4>
            </div>-->
<div class="container ">
        <div class="container mt-3 p-3 rounded" style="background-color:#fafafa;" >
        <h3><b>Personal information</b></h3>

        <form method="POST" action="{% url 'editPersonalDone' %}">
            {% csrf_token %}
            <div class="container rounded py-2 bg-light" >
                <div class="form-group my-2"><b>Profile emoji</b></div>
                <p class="text-iosgray" style="font-size: 10pt;">Selected <span class="text-iosdark"><b>emoji</b></span> will be used as profile pic.</p>
                <div class="form-group">
                    <input type="text" id="emoji" name="emoji" value={{userdata.profile_emoji}} style="width: 35px !important; border-radius:50%; height:35px;" class="ios-control p-2" >
                </div>
            </div>
            <br>
            <div class="container rounded py-2 bg-light" >

            <div class="form-group my-3"><b>Bio </b><i class="fas fa-pencil" aria-hidden="true"></i></div>

        <div class="form-group">
           <textarea name="bio" id="my-bio" cols="40" rows="3"  placeholder="{{userdata.bio}}" class="ios-control-textarea" style="background-color: white !important;"></textarea>
        </div>
        </div>
        <br>
        <div class="container rounded py-2 bg-light" >

        <div class="form-group my-2">Date of Birth</div>
            <div class="form-group">
                <input type="date" id="date-ob" name="dob" value={{userdata.dob|date:"Y-m-d"}} class="form-control p-2 w-100" style="border-radius: 15px;">
            </div>
        </div>
        <div class="form-group my-3 text-center">
            <button class="btnios ios-pr-dark w-100 " type="submit">Save</button>
        </div>
        
    </form>    
    </div>   
    <input type="hidden" name="" id ="bio-data" value="{{userdata.bio}}">
</div>

</div>

<script>
    $("#my-bio").val($("#bio-data").val())
</script>
<script>
    $(".socialmedia-toggle").on('click',function(){
        $(".socialmedia").toggleClass('ss-active')
        $(".info").removeClass('i-active')
    })
    $(".info-toggle").on('click',function(){
        $(".info").toggleClass('i-active')
        $(".socialmedia").removeClass('ss-active')
    })
</script>

{% endblock content %}