<div class="data4">
    <br><br>
    <h3><b>Welcome back</b></h3>
    <img src="/media/mehLoding.png" alt="" srcset="" style="height: 30vh; object-fit:contain;">
    <form method="POST" class="form4">
        
        <div class="form-group my-2">
            <input type="text" name="log-user" id="log-username" class="ios-control p-2" placeholder="@username">
        </div>
        <div class="form-group my-2">
            <input type="password" name="log-pswd" id="log-pswd" class="ios-control p-2" placeholder="password">
        </div>
        
        <a href="/users/forgot-password/">Forgot Password?</a>
        <div class="form-group my-3">
            <button class="btnio-dark rounded login-btn" type="submit"><b>login</b></button>
        </div>
        
    </form>
    </div>