{% extends 'home/base.html' %}

{% block content %}

{% if not request.user.is_authenticated %}
{% include 'home/mainpage.html' %}

<script>
    $(document).ready(function(){
        $('.loader').fadeOut(2000)
    }) 
</script>
{% else %}
<input type="hidden" value="{{request.user.username}}" id="user">

    {% include 'home/navbar.html' %}

<div class="container-fluid container-main every "  >
   
    {% include 'home/locationBase.html' %}
</div>

{% endif %}
{% endblock content %}
<!--<div class="box-inputs">
        <form class="form1" method="POST">
            {% csrf_token %}
        <div class="form-group my-3">
            <input type="text" name="username" id="username" placeholder="@username" class="ios-control p-2" >
        </div>
        <div class="form-group my-3">
            <input type="email" name="email" id="email" placeholder="Email" class="ios-control p-2"">
        </div>
        <div class="form-group my-3">
            <input type="password" name="password" id="pswd" placeholder="Password" class="ios-control p-2" >
        </div>
        
        <div class="form-group my-3">
            <button class="btnio-dark rounded next-btn"><b>Next</b></button>
        </div>
    </form>

    </div>-->
   