<div class="top-bar fixed-top" style="background-color: #fafafa ;" >
    <div class="navmain text-center py-2">
        <h3 ><b class="logo-meh "><a href="/">meh</a></b></h3>
    </div>
</div>

    <div class="navigator-bar" >
        <a href="/home/search"><i class="fas fa-search mx-2 text-iosdark bg-light rounded"></i></a>
        <a href="/profile"><i class="fas fa-user-circle mx-2 text-iosdark bg-ligh rounded"></i></a>
        <a href="/settings"><i class="fas fa-cog  mx-2 mr-4 text-iosdark bg-light rounded"></i></a>
    </div>
