<div class="top-bar px-3 fixed-top bg-blur mb-2" >
    <div class="navmain ">
        <h3 class="pl-3 "><b class="logo-meh"><a href="/">meh</a></b></h3>
        <div class=" p-2 flexbox navigator-bar" >
            <a href="/home/search"><i class="fas fa-search mx-2 text-iosdark "></i></a>
            <a href="/profile"><i class="fas fa-user-circle mx-2 text-iosdark "></i></a>
            <a href="/settings"><i class="fas fa-cog  mx-2 mr-4 text-iosdark "></i></a>
        </div>
    </div>
</div>
<p></p>