   <!--https://goquotes-api.herokuapp.com/api/v1/all/quotes-->
<div class="container text-center server-msg custom-msg-primary text-light rounded-sm"></div>
<!--<div class="navigator-bar py-2">
    <div class="links-fa">
        <a href="/"><i class="fas fa-home  mx-2  "></i></a>
        <a href="/home/search"><i class="fas fa-search mx-2 "></i></a>
        <span class="location"><i class="fas fa-location-arrow  text-iosprimary  "></i></span>
        <span><i class="fas fa-qrcode text-iosdark openPOP" data-bs-toggle="tooltip" data-bs-placement="right" title="QR code to share profile"     style="cursor: pointer;"></i></span>
        <a href="/settings"><i class="fas fa-cog  mx-2 "></i></a>
    </div></div>-->
<h4 class="mt-2"></h4>
<div class="vists"></div>
<div class="container bg-white border text-dark rounded hbd p-2 my-2"></div>
<div class="info">
    <center>
        {% include 'home/ios-spiner.html' %}
    </center>
</div>
<h4 class="mt-2"><b>Social media </b></h4>
<div class="container bg-white border rounded py-3 mt-1">

<div class="social">
   lodaing...
</div>

</div>
<div class="text-center mt-2 text-iosgray">
    <h5>Joined <b>meh</b> on
    </h5>
    <span class="dateObj"></span>
    </div>
<input type="hidden" value="{{request.user.username}}" id="user">



<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  $('#copy-btn').html(`<i class="fas fa-check-circle  text-light  "></i>`)
}
</script>
<!--<div class="text-center">
    <p>share your profile by copying <b>Magic link</b>.</p>
</div>
<div class="container bg-dark " >
    <div class="magiclink" style="display: none;">
        <center>
            {% include 'home/ios-spiner.html' %}
        </center>
    </div>
    <div class="nput">

    </div>
</div>-->

<script>
    function getMOPsys() {
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

        // Windows Phone must come first because its UA also contains "Android"
        if (/windows phone/i.test(userAgent)) {
            return "Windows Phone";
        }

        if (/android/i.test(userAgent)) {
            return "Android";
        }

        // iOS detection from: http://stackoverflow.com/a/9039885/177710
        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            return "iOS";
        }

        return "desktop";
    }
    const os = getMOPsys();
    //fetch data from api
    var user = document.getElementById('user').value
function getData(){
    $.get("/api/location/"+user+"/",function(data){
        if(data['location_sharing']=="off"){
            $(".server-msg").append(`Nearby sharing is <b>off</b>.`)
        }
    })
    
    fetch('/api/'+user+'/').then(response => response.json())
    .then(data => {
        
        function buildHalfProfile(){
            $('.info').html('')
                    $('.info').html(`
                    <div class="container bg-white border rounded py-3">
                        <div class="font-bold text-iosdark"><h4>@${(data['Extra-Data']['Verified']===true)?data['UserObj']['username']+` <i class="material-icons  text-iosprimary" style="font-size:16px;">
                            verified
                        </i></h4>`:data['UsersObj']['username']}</div>
                    <p class="font-bold">${data['UsersObj']['email']}</p>`)
                    
        }
        function buildProfile(){
            var d = new Date(data['Info']['dob'])
            var dd = new Date(data['UserObj']['date_joined'])
            var dobBack = d.getDate()+"/"+d.getMonth()
            var today = new Date()
            var checkDob = today.getDate()+"/"+today.getMonth()
            if( dobBack == checkDob){
                $(".hbd").html('Happy birthday to You')
            }
            else{
                $('.hbd').addClass('seen')
               
            }
            var acc_type = data['Info']['acc_type']

        $('.acc').html(acc_type )
                if(acc_type=='Personal'){
                    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    $('.info').html('')
                    $('.info').html(`
                    <div class="container bg-white border rounded py-3">
                    <div class="font-bold text-iosdark"><h4>@${(data['Extra-Data']['Verified']===true)?data['UserObj']['username']+` <i class="material-icons  text-iosprimary" style="font-size:16px;">
                        verified
                    </i></h4>`:data['UserObj']['username']}</div>
                    <p></p>
                    <p class="font-bold">${data['UserObj']['email']}</p>

                    <p class="text-iosgray"><i class="fas fa-birthday-cake  pr-2  text-warning"></i> <span class="ml-2">${d.getDate()+' '+ months[d.getMonth()]}</span></p>
                    <p class="text-black bio">${
                        data['Info']['bio'].length >=150?data['Info']['bio'].substring(0,150)+'...' :data['Info']['bio']

                     }</p>
                </div>
                    `)
                    $(".dateObj").html(`${dd.getDate()+' '+ months[dd.getMonth()]+' '+dd.getFullYear()}`)
                    $('.username').html('');
                    $('.username').html(data['UserObj']['username']);
                    $('.orlink').html(window.location.href+data['UserObj']['username'])
                    $('.magiclink').html('')
                    $('.nput').html(`<input type="text" class="ios-control bg-dark text-light" value="${window.location.href}${data['UserObj']['username']}" id="myInput">
                    <span onclick="myFunction()" id="copy-btn"  class="py-3">
                      <i class="fas fa-copy   text-light "></i>
                    </span>`)
                    var demoParams = [			
                    {
                        title: data['UserObj']['username'],
                        config: {
                            text: window.location.href+data['UserObj']['username'],
                    
                            width: 240,
                            height: 240,
                            colorDark: "#1c1c1e",
                            colorLight: "#f2f2f7",
                    
                            PI: '#1c1c1e',
                            timing_H:0,
                            correctLevel: QRCode.CorrectLevel.M, // L, M, Q, H
                    
                            logo: '/media/mehdrop.png',
                            logoBackgroundColor: '#fafafa', // Logo backgroud color, Invalid when `logBgTransparent` is true; default is '#ffffff'
                            logoBackgroundTransparent: false,
                    
                            quiteZone:5,
                            dotScale: 0.5,
                            dotScaleAO:0.5,
                    
                            binarize: true
                        }
                    
                    },
                ]
                var qrcodeTpl = document.getElementById("qrcodeTpl").innerHTML;
                var container = document.querySelector('.qr-code');
    
                for (var i = 0; i < demoParams.length; i++) {
                    var qrcodeHTML = qrcodeTpl.replace(/\{title\}/, demoParams[i].title).replace(/{i}/, i);
                    container.innerHTML+=qrcodeHTML;
                }
                for (var i = 0; i < demoParams.length; i++) {
                     var t=new QRCode(document.getElementById("qrcode_"+i), demoParams[i].config);
                }  

        /*var parametersJson = {
            "size": 150, // Size of Qr Code
            "backgroundColor": "255-255-255", // Background Color Of Qr Code (In RGB)
            "qrColor": "0-0-0", // Color of Qr Code (In RGB)
            "padding": 2, // Padding
            "data": window.location.href+data['UserObj']['username'],
        };
        var img = document.querySelector(".qr-img")
        parameters = `size=${parametersJson.size}&bgcolor=${parametersJson.backgroundColor}&color=${parametersJson.qrColor}&qzone=${parametersJson.padding}&data=${parametersJson.data}` // Stitch Together all Paramenters
        img.src = `https://api.qrserver.com/v1/create-qr-code/?${parameters}`
        $('.spiner').html('')
        $('.down-qr').attr("href",`https://api.qrserver.com/v1/create-qr-code/?${parameters}`)*/
                }

                else{
                    var d = new Date(data['info'][0])
                    var dobBack = d.getDate()+"/"+d.getMonth()
                    var today = new Date()
                    var checkDob = today.getDate()+"/"+today.getMonth()
                    if( dobBack == checkDob){
                        $(".hbd").html('Happy birthday to You')
                    }
                    else{
                        fetch("https://type.fit/api/quotes")
                        .then(function(response) {
                          return response.json();
                        })
                        .then(function(quoes) {
                            var xno = Math.floor(Math.random() * quoes.length);
                            $(".hbd").html(`<i>${quoes[xno].text}</i>`)
                        });

                    }
                    var acc_type = data['info'][1]
        $('.acc').html(acc_type)
                    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    $('.info').html('')
                    $('.info').html(`
                    <div class="container bg-light rounded-sm shadow-sm py-3">
                        <span>Business name</span><br>
                        <img src="#" class="img-fluid"><br>
                        <span>${data['userdata'][0]}</span><br>
                        <span>Email: ${data['userdata'][1]}</span><br>
                        </div>
                        <br>
                    <div class="container bg-light rounded py-3">
                    <p class="font-bold text-iosprimary">@${data['userdata'][0]}</p>
                    <p class="font-bold">${data['userdata'][1]}</p>

                    <p class="text-iosgray"><i class="fas fa-birthday-cake  pr-2  text-warning"></i> <span class="ml-2">${d.getDate()+' '+ months[d.getMonth()]}</span></p>
                    <p class="text-iosgray">${data['info'][2]}</p>
                    </div>`)
                }
                $('.magiclink').html('')
        $('.nput').html(`<input type="text" class="ios-control bg-dark text-light" value="${window.location.href}${data['UserObj']['username']}" id="myInput">
        <span onclick="myFunction()" id="copy-btn"  class="py-3">
          <i class="fas fa-copy   text-light "></i>
        </span>`)
        /*var parametersJson = {
            "size": 150, // Size of Qr Code
            "backgroundColor": "255-255-255", // Background Color Of Qr Code (In RGB)
            "qrColor": "0-0-0", // Color of Qr Code (In RGB)
            "padding": 2, // Padding
            "data": window.location.href+data['UserObj']['username'],
        };
        var img = document.querySelector(".qr-img")
        parameters = `size=${parametersJson.size}&bgcolor=${parametersJson.backgroundColor}&color=${parametersJson.qrColor}&qzone=${parametersJson.padding}&data=${parametersJson.data}` // Stitch Together all Paramenters
        img.src = `https://api.qrserver.com/v1/create-qr-code/?${parameters}`
        $('.spiner').html('')
        $('.down-qr').attr("href",`https://api.qrserver.com/v1/create-qr-code/?${parameters}`)*/
        }

    function appendSocial(){
        var facbookLink;
                if(os=="Android" || os=="iOS"){
                    facbookLink = 'fb://facewebmodal/f?href=https://www.facebook.com/'
                    instaLink='https://www.instagram.com/'
                    twitterLink='twitter://'
                }
                else{
                    facbookLink = 'https://www.facebook.com/'
                    instaLink = 'https://www.instagram.com/'
                    twitterLink='https://www.twitter.com/'
                    }
                $('.social').html(`
                <div class="accs">
                    ${data['Social']['facebook'] ? `<div class="container bg-white border-bottom  py-2 mt-1"><a href="${facbookLink}${data['Social']['facebook']}"><i class="fab fa-facebook text-iosprimary bg-ioslight p-2 rounded"></i><span class="font-bold mx-2"> ${data['Social']['facebook']} </span></a></div> ` : ``}
                    ${data['Social']['instagram'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="${instaLink}${data['Social']['instagram']}"><i class="fab fa-instagram bg-ioslight text-iosorange  p-2 rounded"></i><span class="font-bold mx-2">${data['Social']['instagram']}</span></a></div>`: ``}
                    ${data['Social']['youtube'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="${data['Social']['youtube']}"><i class="fab fa-youtube text-iosred bg-ioslight p-2 rounded "></i><span class="font-bold mx-2">YouTube</span></a></div>`: ``}
                    ${data['Social']['snapchat'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="https://snapchat.com/add/${data['Social']['snapchat']}"><i class="fab fa-snapchat  bg-ioslight p-2 rounded text-snapchat"></i><span class="font-bold mx-2">${data['Social']['snapchat']}</span></a></div>`: ``}
                    ${data['Social']['twitter'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="${twitterLink}${data['Social']['twitter']}"><i class="fab fa-twitter bg-ioslight p-2 rounded text-primary"></i><span class="font-bold mx-2">${data['Social']['twitter']}</span></a></div>`: ``}
                    ${data['Social']['telegram'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="https://t.me/${data['Social']['telegram']}"><i class="fab fa-telegram bg-ioslight p-2 rounded text-telegram"></i><span class="font-bold mx-2">${data['Social']['telegram']}</span></a></div>`: ``}
                    ${data['Social']['discord'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="${data['Social']['discord']}"><i class="fab fa-discord bg-ioslight p-2 rounded text-purple"></i><span class="font-bold mx-2">${data['Social']['discord']}</span></a></div>`: ``}
                    ${data['Social']['twitch'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="twitch://${data['Social']['twitch']}"><i class="fab fa-twitch text-twitch bg-ioslight p-2 rounded"></i><span class="font-bold mx-2">${data['Social']['twitch']}</span></a></div>`: ``}
                    ${data['Social']['gmail'] ?`<div class="container bg-white border-bottom py-2 mt-1"><a href="#"><i class="fas fa-envelope bg-ioslight p-2 rounded text-danger"></i><span class="font-bold mx-2" id="gmail">${
                    data['Social']['gmail'].length >=15?data['Social']['gmail'].substring(0,15)+'...' :data['Social']['gmail']

            }</span></a></div>`: ``}
            ${data['Social']['phone_no'] ?`<div class="container bg-white border-bottom py-1 mt-1"><i class="fas fa-phone  bg-ioslight p-2 rounded text-primary  "></i><a href="tel:${data['Social']['phone_no']}"> <span class="font-bold mx-2">${data['Social']['phone_no']}</span></a></div>`: ``}

        </div>`)
        $('#gmail').on('click',function(){
            $('#gmail').html(data['Social']['gmail'])
            setInterval(function(){
                data['social'][7].length >=15?data['Social']['gmail'].substring(0,15)+'...' :data['Social']['gmail']
            },5000)
        }
        )
    }

    if(data['status']=='200'){
        buildProfile()
        appendSocial()
    }
    else if(data['status']=='420'){
        
        $('.social').html(`<div class="accs text-iosdanger">Profile setup incomplete. <a href="{% url 'editprofile' %}" class="text-iosprimary">Complete setup here!</a></div>`)
    }else{
        buildProfile()
        $('.social').html(`<div class="accs">No social media accounts</div>`)
    }
    })
}
getData();

$('.js-textareacopybtn').on('click', function() {
 var copyText = $('.js-copytextarea');
  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */
  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);

});
</script>
