{% extends 'home/base.html' %}
{% block content %}
<style>
    .bio{
        word-wrap: break-word;
    }
   .social{
       min-height: 400px;
       overflow-y: scroll;
   }
.profile{
    width: 100%;
}
    #copy-btn{
          cursor: pointer;
    }
    .flexbox{
          display: flex;
          justify-content: space-around;
    }

    .bg-light{
          background-color: #fafafa !important;
    }
.hbd{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nearby-people{
    position: fixed;
    width: 400px;
    height: 100vh;
    top: 126%;
    left: 50%;
    text-align: center;
    background-color: #fff;
    transform: translate(-50%,-25%);
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    z-index: 50001;
    opacity: 1;
}
.overflow-part{
    overflow-y: scroll;
}
.overlay{
    width: 450px;
    height: 110vh;
    background-color: #35343496;
    backdrop-filter:blur(20px) saturate(180%);
    -webkit-backdrop-filter:blur(20px) saturate(180%);
    position: absolute;
    visibility: hidden;
    z-index: 50001;
}
@media (max-width:500px){
    .nearby-people{
        width: 98%;
    }
    .overlay{
        width: 100%;
    }
}


.location,.close{
    cursor: pointer;
}
.seen{
    display: none;
}
.logo-meh{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1c1c1e;
    color: rgba(0, 0, 0, 0);
 }
 .links-fa > a{
     color: black;
     display: flexbox;
     align-items: center;
     flex-direction: row;
 }
.socialmedia,.info{
    display: none;
}
.ss-active,.i-active{
    display: block;
}
input{
    background-color: #fafafa !important;
    color: #1c1c1e !important;
}
</style>
<div class="container-fluid  container-main" style="background:#5473C2;color:white;min-height: 105vh;" >

        <!--<div class="container border rounded p-2 my-2 recents">
            <h4 ><b>Recent Activity</b></h4>
            </div>
            <div class="container border rounded my-2 p-2 talks">
                <h4 ><b>mehTalks</b></h4>
                </div>
                <div class="container border rounded p-2 nearme">
                    <h4 ><b>Near Me</b></h4>
            </div>-->
            <br><br>
<div class="container">
    <div class="container ">
        <h4 class="logo-meh" style="-webkit-text-stroke-color: #fff;">
            <b>Let’s connect <br>
            with your <br>
            social media apps</b></h4>
    <form method="POST" class="text-dark" action="{% url 'editprofileDone' %}">
        {% csrf_token %}
        <div class="form-group my-2">
            <input type="text" name="insta" id="insta" class="ios-control p-2" value="{{socialAccs.instagram}}" placeholder="Instagram username">
        </div>
        <div class="form-group my-2">

            <input type="text" name="twitter" id="twitter" class="ios-control p-2" value="{{socialAccs.twitter}}" placeholder="Twitter username">
        </div>
     
        <div class="form-group my-2">

            <input type="text" name="facebook" id="fb" class="ios-control p-2" value="{{socialAccs.facebook}}" placeholder="Facebook username">
        </div>
    
        <div class="form-group my-2">

            <input type="text" name="youtube" id="yt" class="ios-control p-2" value="{{socialAccs.youtube}}" placeholder="YouTube channel link">
        </div>
        <div class="form-group my-2">

            <input type="text" name="twitch" id="twitch" class="ios-control p-2" value="{{socialAccs.twitch}}" placeholder="Twitch username">
        </div>
        <div class="form-group my-2">

            <input type="text" name="linkedin" id="linkedin" class="ios-control p-2" value="{{socialAccs.linkedin}}" placeholder="LinkedIn profile link">
        </div>
        <div class="form-group my-2">

            <input type="url" name="website" id="website" class="ios-control p-2" value="{{socialAccs.website}}" placeholder="Website Url">
        </div>
        <div class="form-group my-2">

            <input type="text" name="snapchat" id="snap" class="ios-control p-2" value="{{socialAccs.snapchat}}" placeholder="Snapchat username">
        </div>
    
        <div class="form-group my-2">

            <input type="text" name="dscord" id="dscord" class="ios-control p-2" value="{{socialAccs.discord}}" placeholder="Discord username">
        </div>
       
        <div class="form-group my-2">

            <input type="text" name="tele" id="tele" class="ios-control p-2" value="{{socialAccs.telegram}}" placeholder="Telegram username">
        </div>
        <div class="form-group my-2">

            <input type="text" name="gmail" id="gmail" class="ios-control p-2" value="{{socialAccs.gmail}}" placeholder="Gmail">
        </div>
        <div class="form-group my-2">

            <input type="text" name="contact" id="contact" class="ios-control p-2" value="{{socialAccs.phone_no}}" placeholder="Phone number">
        </div>
        <div class="form-group my-3">
            <button class="btnios ios-pr-dark w-100 py-2"  type="submit"><b>Save</b></button>
        </div>
        </form>
        </div>
    </div>
</div>

</div>

<script>
    $(".socialmedia-toggle").on('click',function(){
        $(".socialmedia").toggleClass('ss-active')
        $(".info").removeClass('i-active')
    })
    $(".info-toggle").on('click',function(){
        $(".info").toggleClass('i-active')
        $(".socialmedia").removeClass('ss-active')
    })
</script>

{% endblock content %}