{% extends 'home/base.html' %}
{% block content %}

<div class="container-fluid  container-main" style="min-height: 105vh;" >
    {% include 'home/navbar.html' %}
<br><br>    
<!--<div class="container mx-4 text-left">
    <span class="text-iosdark" style="font-size: 24px;"><b>spotlight search</b></span>
    <p class="text-iosgray " style="font-size: 12px;font-weight:lighter;">search across all social media accounts at once</p>
</div>    -->
        <form method="POST" class="form-search text-center">
            {% csrf_token %}
            <div class="form-group my-2">
            <input type="search" name="search" id="search_input" class="ios-control p-2 " style="width:100%;font-weight:lighter;" placeholder="     usernames,email,phone number,.....">
            </div>
        </form>
        
        <center>
            <div class="container ">
                <h5 class="mehapp"></h5>
            </div>
            <div class="results">
               
            </div>
            <div class="container mt-2">
                <h5 class="soci"></h5>
            </div>
            <div class="social-res " >
    
            </div>
        </center>
   
        
    
</div>

<script>
    fetch('/users/admin/user-count/').then(response => response.json())
    .then(data => {
        $('.totaluser').html(data['count'])
    })
    $(document).ready(function(){
        $(".form-search").keyup(function(e){
            $(".results").html(`<center>
                {% include 'home/ios-spiner.html' %}
            </center>`)
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/home/search/items/",
                data: {
                    query:$('#search_input').val(),
                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    
                    var objData ;
                    if(data['objs'] != ''){
                        objData = true
                    }
                    else{
                        objData=false
                    }
                    var socialData ;
                    if(data['social'] != ''){
                        socialData = true
                    }
                    else{
                        socialData=false
                    }
                
                    $('.results').html('')
                    if (objData === false){
                        $('.mehapp').html(`<span class="text-iosdark" style="font-size: 24px;"><b>results</b></span>`)
                        $('.results').html('No results found!')
                    }
                    else{
                        $('.mehapp').html(`<span class="text-iosdark" style="font-size: 24px;"><b>results</b></span>`)
                        for (i in data['objs']){
                            $('.results').append(`<li class="container bg-white border  font-bold text-black ser-result py-2 mt-1"><a href="/${data['objs'][i]}">${data['objs'][i]}</a></li>`)
                        }
                        
                    }
                    if (socialData === false){
                        $('.soci').html(`<span class="text-iosdark" style="font-size: 24px;"><b>spotlight search</b></span>`)
                        $('.social-res').html('No results found!')
                    }
                    else{
                        $('.social-res').html('')
                        $('.soci').html(`<span class="text-iosdark" style="font-size: 24px;"><b>spotlight search</b></span>`)
                        for (i in data['social']){
                            $('.social-res').append(`<li class="container bg-white border  font-bold text-black ser-result py-2 mt-1"><a href="/${data['social'][i]}">${data['social'][i]}</a></li>`)
                        }
                        
                    }
                },
                error:function(data){
                    console.log(data)
                }
            });
        })
    })
</script>


{% endblock content %}